p,h1,h5 {
    text-align-last: left;
}
body p{
    text-decoration: underline;
    text-transform: uppercase;
    text-indent: 40%;
    letter-spacing: 20px;
}
body h1{
    /* line-height: 90%;
    word-spacing: 60px;
    word-break: break-all; */
    text-emphasis: triangle red;
    margin-top: auto;
    margin-bottom: auto;
    word-wrap: break-word;
    white-space:pre-line;
    text-shadow: 10px 10px 10px black;
}
body h5{
    outline: 10px dotted blueviolet;
    outline-offset: 10px;
}
h1{
    display: flex; 
    it will come in single line
    display: grid-area: header;

}
button:focus{
    background-color: aqua;
}