div{
    background-color: aqua;
    height: 200px;
    width: 400px;
}

@media screen and (max-width:490px){
   div
   {
    background-color: red;
}
}

@media only screen and (min-width:4910px) and (max-width:950px){
    div {
        background-color:blue;
    }
    h1{
        background-color: brown;
    }
}

@media only screen and(orientation: portrait){
    body{
        background-image: url("img link");
    }
}

@media only screen and(orientation:landscape){
    body{
        background-image: url("img link2");
    }
}

